# Compiled
*.elc

# Packaging
elpa/

# Emacs artifacts
*~
\#*
.\#*

# Vi artifacts
*.swp

# Smalltalk artifacts
*.im

# Not wanted in repo
server/server
auto-save-list/
programs/
yasnippets/yasnippet-licenses/
yasnippets/yasnippet-snippets/
semanticdb/
srecode-map.el*
helm-history
helm-adaptive-history
recentf
ac-comphist.dat
tramp
eshell/history
eshell/lastdir
url/
.python-environments
ido.last
games/
projectile-bookmarks.eld
abbrev_defs
javadoc-cache
bookmarks
ac-html-csswatcher/
.chicken-scheme-symbols-dump.el
request/
projectile.cache
network-security.data
jdee-server/*.jar
smex-items
.cache/
.lsp-session-*
