[submodule "programs/inferior-cling"]
	path = programs/inferior-cling
	url = https://github.com/brianqq/inferior-cling.git
[submodule "programs/cedet"]
	path = programs/cedet
	url = https://github.com/alexott/cedet.git
[submodule "yasnippets/AndreaCrotti_snippets"]
	path = yasnippets/AndreaCrotti_snippets
	url = https://github.com/AndreaCrotti/yasnippet-snippets.git
[submodule "yasnippets/jonatkinson_license"]
	path = yasnippets/jonatkinson_license
	url = https://github.com/jonatkinson/yasnippet-licenses.git
