*~
.#*
\#*
*.swp
*.elc
.cask/
ac-comphist.dat
emacs24.desktop
emacs24.lock
tramp
session.*
eshell/
semanticdb/
srecode-map.el*
url/
.python-environments
ido.last
elpa/
helm-history
helm-adaptive-history
programs/
yasnippets/yasnippet-licenses/
yasnippets/yasnippet-snippets/
recentf
games/
projectile-bookmarks.eld
abbrev_defs
javadoc-cache
bookmarks
elpa/
